* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

button:focus {
  outline: 0;
}

h3 {
  margin: 0;
  padding: 0;
  color: var(--page-heading-color);
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  background-color: black;
}

body {
  background: url("img/aurora.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Helvetica, sans-serif;
}

:root {
  --normal-color: rgb(0, 132, 255);
  --important-color: rgb(137, 47, 255);
  --low-color: rgb(66, 199, 117);
}

#content {
  display: grid;
  grid-template-columns: 350px 4fr;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/*? SIDEBAR */

#sidebar {
  background: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  overflow-y: scroll;
}

#inner-sidebar {
  padding: 15%;
}

.sidebar-section {
  margin-top: 3em;
}

/** SIDEBAR LOGO */

#sidebar-logo {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  transition: text-shadow 500ms, transform 500ms ease-in;
  cursor: pointer;
}

#sidebar-logo:hover {
  animation: logo-flicker 1s linear 0s infinite alternate;
}

@keyframes logo-flicker {
  0% {
    text-shadow: 0px 0px 10px rgba(255, 240, 240, 0.842);
  }
  25% {
    text-shadow: 0px 0px 5px rgba(255, 174, 174, 0.527);
  }
  50% {
    text-shadow: 0px 0px 15px rgba(255, 218, 218, 0.774);
  }
  75% {
    text-shadow: 0px 0px 12px rgba(255, 212, 212, 0.589);
  }
  100% {
    text-shadow: 0px 0px 8px rgba(255, 220, 220, 0.945);
  }
}

.logo-icon {
  font-size: 2.27rem !important;
  transform: translateY(0.11em);
}

/** SIDEBAR SECTIONS */

.sidebar-section-header {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.25rem;
  width: fit-content;
  border-radius: 30px;
  cursor: pointer;
  transition: text-shadow 250ms, transform 250ms ease-in;
}

.sidebar-section-header:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.493);
}

.sidebar-add {
  font-size: 1.3rem !important;
  transform: translateY(0.225em);
  transition: 500ms;
}

.sidebar-add:hover {
  transform: rotate(180deg) translateY(-0.225em);
}

/*! SIDEBAR INPUT */

#new-list-input {
  background: rgba(145, 145, 145, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  height: 33px;
  width: fit-content;
  margin-bottom: 15px;
}

/** SIDEBAR LISTS */

.sidebar-list {
  margin: 0.25em 0 0.25em 0;
  padding: 1em 1em 1em 1em;
  cursor: pointer;
  font-weight: 400;
  transition: 350ms;
  width: 80%;
  padding: 0.4em 1em 0.4em 1em;
  border-radius: 30px;
}

.sidebar-list:hover {
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.623);
  background-color: rgba(255, 255, 255, 0.075);
}

.selected-list {
  background-color: rgb(255, 255, 255);
  color: black;
  width: fit-content;
}

.selected-list:hover {
  box-shadow: 0px 0px 5px 0px white;
  background-color: rgb(255, 255, 255);
}

/** SIDEBAR FOOTER */

#sidebar-footer {
  position: fixed;
  bottom: 0;
  width: 350px;

  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(20px);
}

#inner-sidebar-footer {
  padding: 2% 10% 2% 10%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footer-icon {
  cursor: pointer;
}

#delete-list {
  transition: 500ms;
  cursor: pointer;
}

#about {
  align-self: center;
  justify-self: right;
  font-size: 0.7rem;
  color: rgb(97, 97, 97);
  text-decoration: none;
}

/*? MAIN SECTION */

#main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  background: rgb(0, 0, 0, 1);
  padding: 4em 0 4em 0;
  overflow: hidden;
}

/*? TODO INPUTS */

#input-center-box {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.205);
  backdrop-filter: blur(20px);
}

#new-todo-input {
  background: rgba(145, 145, 145, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  height: 40px;
  width: 100%;
  align-self: center;
}

input:focus {
  background: rgba(145, 145, 145, 0.38);
}

input,
select,
textarea {
  color: white;
  padding-left: 20px;
  text-align: left;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#add-item-button {
  padding-left: 5%;
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0);
}

#delete-all-button {
  padding-left: 5%;
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0);
}

/** ACTIVE SECTION */

#active-list {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 10fr;
  padding: 0 5% 20% 10%;
}

#inner-active-list {
  position: absolute;
  grid-row: 3/-1;
  display: flex;
  flex-direction: column;
  padding: 0 10% 20% 10%;
  max-height: 65vh;
  overflow-y: scroll;
}

#active-items-header {
  margin-bottom: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  transition: text-shadow 250ms ease-in;
}

#active-items-header:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.493);
}

/*! ACTIVE ITEMS */

.item {
  margin: 1em 0.5em 1em 0.5em;
  width: fit-content;
  padding: 1em 2em 1em 2em;
  transition: 250ms;
  border: 0px;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  border-radius: 50px;
  transition: box-shadow 500ms, transform 250ms ease-in;
  cursor: grab;
  position: relative;
  z-index: 5;
}

.item:hover {
  transform: translateY(-3%);
}

.normal-priority {
  background-color: var(--normal-color);
}

.normal-priority:hover {
  animation: normal-flicker 0.8s linear 0s infinite alternate;
}

@keyframes normal-flicker {
  0% {
    box-shadow: 0px 0px 10px rgba(75, 183, 255, 0.5);
  }
  100% {
    box-shadow: 0px 0px 30px rgb(76, 109, 255);
  }
}

/*! IMPORTANT ITEMS */

.important-priority {
  background: var(--important-color);
}

.important-priority:hover {
  animation: important-flicker 0.8s linear 0s infinite alternate;
}

@keyframes important-flicker {
  0% {
    box-shadow: 0px 0px 10px rgba(101, 74, 252, 0.507);
  }
  100% {
    box-shadow: 0px 0px 30px rgb(69, 96, 216);
  }
}

/*! LOW PRIORITY ITEMS */

.low-priority {
  background: var(--low-color);
}

.low-priority:hover {
  animation: low-flicker 0.8s linear 0s infinite alternate;
}

@keyframes low-flicker {
  0% {
    box-shadow: 0px 0px 10px rgba(115, 255, 169, 0.5);
  }
  100% {
    box-shadow: 0px 0px 30px rgb(51, 122, 107);
  }
}

/*! INACTIVE ITEMS */

.inactive {
  background-color: rgb(39, 39, 39);
  text-decoration-line: line-through;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26); */
}

.inactive:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.45);
  animation: none;
}

/*! SELECTED ITEMS */

.selected-item {
  transform: translateY(-5%);
}

.selected-item:hover {
  transform: translateY(-5%);
}

/** DETAILS SECTION */

#details {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 10fr;
  padding: 0 0% 0 10%;
  border-left: 1px solid rgba(53, 53, 53, 0.644);
}

#details-header {
  margin-bottom: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  transition: text-shadow 250ms ease-in;
}

#details-inner {
  position: absolute;
  grid-row: 2/-1;
  display: grid;
  padding: 0 0% 0 10%;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

/*! NOTES SECTION */

#notes {
  background: rgb(20, 20, 20);
  height: fit-content;
  max-height: 300px;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
}

#notes-inner {
  overflow-y: scroll;
  height: fit-content;
  max-height: 230px;
}

#notes-header {
  margin-bottom: 0.5em;
  transition: text-shadow 250ms ease-in;
}

#notes-text {
  font-size: 0.85rem;
  transition: 450ms;
  color: rgb(224, 224, 224);
}
[contenteditable="true"] {
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

[contenteditable="true"]:focus {
}

/*! DATES SECTION */

#dates {
  margin-bottom: 1.5em;
}

#dates-header {
  margin-bottom: 0.5em;
}

#dates-text {
  font-size: 0.75rem;
}

#date-added-text {
  margin: 1em 0 0.5em 0;
}

/*! PRIORITY SECTION */

#priority-header {
  transition: text-shadow 250ms ease-in;
}

#priority-button {
  margin: 1em 0 1em 0;
  width: 125px;
  padding: 0.5em 2em 0.5em 2em;
  transition: 250ms;
  border: 0px;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  border-radius: 50px;
  transition: box-shadow 500ms, transform 250ms ease-in;
  text-align: center;
}

.normal-priority-button:hover {
  animation: normal-flicker 0.8s linear 0s infinite alternate;
}

.normal-priority-button {
  background: var(--normal-color);
}

.important-priority-button {
  background: var(--important-color);
}

.important-priority-button:hover {
  animation: important-flicker 0.8s linear 0s infinite alternate;
}

.low-priority-button {
  background: var(--low-color);
}

.low-priority-button:hover {
  animation: low-flicker 0.8s linear 0s infinite alternate;
}

/*! DELETE BUTTON */

#delete-todo {
  font-size: 1.5rem !important;
  transform: translateY(2px);
}
